<%= form_for venue, :html => {:class => "form-horizontal", role: "form"} do |f| %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">

        <h3 class="text-primary"> <%= venue.new_record? ? "Creating New Venue " : "Editing: " %>
          <%= venue.title unless venue.new_record? %></h3>


        <p class="text-muted">You can <%= venue.new_record? ? "enter" : "edit" %> the details of
          your venues below~<br/>
          The more information we have about your venues, the easier it will be for people to
          find it.

        </p><br/>

      </div>
    </div>

    <!--这里传入的是符号变量:venue而不是实例变量venue本身,因为text_field在构造params的时候不需要对象-->
    <%= render partial: "venues/formitem", locals: {object: :venue, content: :title, labeltext: "Venue Name*", hint: ""} %>
    <%= render partial: "venues/formitem", locals: {object: :venue, content: :street_address, labeltext: "Street Address", hint: "one-line version of full address"} %>
    <%= render partial: "venues/formitem", locals: {object: :venue, content: :street_address, labeltext: "Street Address", hint: ""} %>
    <%= render partial: "venues/formitem", locals: {object: :venue, content: :locality, labeltext: "City", hint: ""} %>
    <%= render partial: "venues/formitem", locals: {object: :venue, content: :region, labeltext: "State", hint: ""} %>
    <%= render partial: "venues/formitem", locals: {object: :venue, content: :postal_code, labeltext: "Zip code", hint: ""} %>
    <%= render partial: "venues/formitem", locals: {object: :venue, content: :country, labeltext: "Country", hint: ""} %>
    <%= render partial: "venues/formitem", locals: {object: :venue, content: :latitude, labeltext: "Country", hint: ""} %>
    <%= render partial: "venues/formitem", locals: {object: :venue, content: :longitude, labeltext: "Country", hint: ""} %>
    <%= render partial: "venues/formitem", locals: {object: :venue, content: :url, labeltext: "Web Link", hint: ""} %>
    <%= render partial: "venues/formitem", locals: {object: :venue, content: :email, labeltext: "Email", hint: ""} %>
    <%= render partial: "venues/formitem", locals: {object: :venue, content: :telephone, labeltext: "Telephone", hint: ""} %>

    <div class="form-group">
      <div class="checkbox col-sm-offset-2 col-sm-10">
        <label><%= check_box_tag :wifi, '1' %>This venue has public wireless internet access</label>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "Descripition", nil, class: "control-label col-sm-2" %>
      <div class="col-sm-8">
        <%= f.text_area :description, class: "form-control", id: "description", rows: "12" %>
        <p class="text-muted">Format text
          using <%= link_to("Markdown", "http://www.simpleeditions.com/59001/markdown-an-introduction") %> and
          HTML</p>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "Access Notes", nil, class: "control-label col-sm-2" %>
      <div class="col-sm-8">
        <%= f.text_area :access_notes, class: "form-control", id: "access_notes", rows: "4" %>
        <p class="text-muted">(Details about how to access the space, and any accessibility restrictions that visitors
          may want to know about.)</p>
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox col-sm-offset-2 col-sm-10">
        <label><%= check_box_tag :closed, '1' %>This venue is no longer open for business</label>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "Traps", nil, class: "control-label col-sm-2" %>
      <div class="col-sm-8">
        <%= text_field_tag :trap_field, params[:trap_field], class: "form-control", id: "trap_field" %>
        <p class="text-danger"> Leave this field blank or we'll think you're a robot</p>
      </div>
    </div>

    <% if !params[:from_event].blank? %>
        <%= hidden_field_tag(:from_event, params[:from_event]) %>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: "btn btn-success" %>
        <% if venue.new_record? %>
            <%= link_to "Cancel", venues_path, class: "btn btn-warning", role: "button" %>
        <% else %>
            <%= link_to "Cancel", venue_path(venue), class: "btn btn-warning", role: "button" %>
        <% end %>
      </div>

    </div>
<% end %>
