<%
  # Arguments:
  # * events => Array of Event records

  rowspans = calculate_rowspans(events)

%>

<table class='table table-striped table-responsive table-condensed' id='movies'>

  <tbody>
  <% unless events.size==0 %>
      <% events.each_with_index do |event, index| %>
          <tr>
            <% if rowspans[index] > 0 %>
                <td rowspan="<%= rowspans[index] %>">

                  <div class="text-right">
                    <strong><text class="text-success"><%= today_tomorrow_or_weekday(event) %></text></strong><br/>
                    <%= datetime_format(event.start_time, '%b %d') -%><%= ", "+datetime_format(event.start_time, '%Y') %>
                  </div>
                </td>
            <% end %>

            <td class="has_hover">

              <strong>
                <a class="text-primary" href='<%= url_for event_url(event) %>' name='<%= "event-#{event.id}" %>' id='<%= "event-#{event.id}" %>'><%= event.title %></a><br/>
              </strong>

              <%= normalize_time(event, :context => event.start_time.to_date) -%>

              <% if event.venue && !event.venue.title.blank? %>
                  <a class="text-primary" href='<%= url_for venue_url(event.venue) %>'><%= event.venue.title -%></a>
              <% end -%>

              <% if !event.description.blank? %>
                   <div class="text-muted">
                    <!--显示一部分描述-->
                    <%= truncate(event.description, length: 90) -%>
                  </div>
              <% end -%>

            </td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan=2>No events were found.</td>
      </tr>
  <% end %>
  </tbody>
</table>


