<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 pull-right">
      <div class="well">

        <h4><strong>Filter:</strong></h4>

        <%= form_tag events_url, :method => 'get', class: "form-horizontal", role: "form" do %>

            <div class="form-group">
              <%= label_tag 'From date:', nil, class: "control-lable col-sm-3" %>
              <div class='input-group date' id='start_date_picker'>
                <%= text_field_tag 'date[start]', @browse.start_date, class: "form-control" %>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag 'To date', nil, class: "control-lable col-sm-3" %>
              <div class='input-group date' id='end_date_picker'>
                <%= text_field_tag 'date[end]', @browse.end_date, class: "form-control" %>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              </div>
            </div>


            <div class="form-group">
              <%= label_tag 'Begin after', nil, class: "control-lable col-sm-3" %>

              <div class='input-group date' id='start_time_picker'>
                <%= text_field_tag 'time[start]', @browse.start_time, class: "form-control" %>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag 'End Before', nil, class: "control-lable col-sm-3" %>

              <div class='input-group date' id='end_time_picker'>
                <%= text_field_tag 'time[end]', @browse.end_time, class: "form-control" %>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
              </span>
              </div>
            </div>

            <%= submit_tag 'Filter', class: "btn btn-info" %>
            <a class="btn btn-warning" role="button" href=<%= events_url %>>Reset</a>

        <% end %>

        <hr/>

        <h4>Subscribe to</h4>
        <ul>
          <li><%= link_to "iCalendar feed", icalendar_feed_link %></li>
          <li><%= link_to "Atom feed", atom_feed_link %></li>
          <li><%= link_to "Google Calendar", google_events_subscription_link %></li>
        </ul>

        <hr/>

        <h4>Export to</h4>
        <ul>
          <li><%= link_to "iCalendar file", icalendar_export_link %></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-8">

      <div>
        <h3>Viewing <strong><%= @browse.events.size %></strong>
          <%= @browse.date ? 'filtered' : 'future' %> events
          <%= events_sort_label(@browse.order) %></h3>
      </div>

      <%= render :partial => 'table', :locals => {:events => @browse.events} %>

    </div>

  </div>
</div>


<script type="text/javascript">
  $(function () {
    $('#start_date_picker').datetimepicker({
      format: 'YYYY-MM-DD'
    });

    $('#start_time_picker').datetimepicker({
      format: 'LT'
    });

    $('#end_date_picker').datetimepicker({
      format: 'YYYY-MM-DD'
    });

    $('#end_time_picker').datetimepicker({
      format: 'LT'
    });

    $("#start_date_picker").on("dp.change", function (e) {
      $('#end_date_picker').data("DateTimePicker").minDate(e.date);
    });

    $("#end_date_picker").on("dp.change", function (e) {
      $('#start_date_picker').data("DateTimePicker").maxDate(e.date);
    });

  });

</script>