<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-truck fa-fw"></i> 出库纪录
    <div class="pull-right">
      <%= form_tag export_stock_dbs_path, :method => :get do %>
          <%= hidden_field_tag :complete_time, params[:complete_time] %>
          <%= hidden_field_tag :client_name, params[:client_name] %>
          <%= hidden_field_tag :product_code, params[:product_code] %>
          <%= hidden_field_tag :product_name, params[:product_name] %>
          <%= hidden_field_tag :standard, params[:standard] %>
          <%= hidden_field_tag :kind, params[:kind] %>
          <%= hidden_field_tag :supplier, params[:supplier] %>
          <%= hidden_field_tag :export_num, params[:export_num] %>
          <%= hidden_field_tag :project_code, params[:project_code] %>
          <%= button_tag(type: "submit", class: "btn btn-success btn-xs") do %>
              <span class="glyphicon glyphicon-floppy-save"></span> 导出
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="filter-panel">
    <%= form_tag stock_dbs_path, :method => 'get', role: 'form', class: "form-inline" do %>

        <div class="form-group">
          <%= label_tag :client_name, "分公司" %>
          <%= text_field_tag :client_name, params[:client_name], placeholder: "输入分公司名称", class: 'form-control input-sm' %>
        </div>

        <div class="form-group">
          <%= label_tag :complete_time, "出库日期" %>
          <%= text_field_tag :complete_time, params[:complete_time], placeholder: "输入发货完成时间", class: 'form-control input-sm' %>
        </div>

        <div class="form-group">
          <%= label_tag :product_code, "物料编码" %>
          <%= text_field_tag :product_code, params[:product_code], placeholder: "输入物料编码", class: 'form-control input-sm' %>
        </div>

        <div class="form-group">
          <%= label_tag :product_name, "物料名称" %>
          <%= text_field_tag :product_name, params[:product_name], placeholder: "输入物料名称", class: 'form-control input-sm' %>
        </div>

        <div class="form-group">
          <%= label_tag :standard, "规格型号" %>
          <%= text_field_tag :standard, params[:standard], placeholder: "输入规格", class: 'form-control input-sm' %>
        </div>

        <div class="form-group">
          <%= label_tag :kind, "物资类别" %>
          <%= text_field_tag :kind, params[:kind], placeholder: "输入铁塔物资类别", class: 'form-control input-sm' %>
        </div>

        <div class="form-group">
          <%= label_tag :supplier, "供应商" %>
          <%= text_field_tag :supplier, params[:supplier], placeholder: "输入供应商", class: 'form-control input-sm' %>
        </div>

        <div class="form-group">
          <%= label_tag :export_num, "发货数量" %>
          <%= text_field_tag :export_num, params[:export_num], placeholder: "输入发货数量", class: 'form-control input-sm' %>
        </div>

        <div class="form-group">
          <%= label_tag :project_code, "项目编号" %>
          <%= text_field_tag :export_num, params[:export_num], placeholder: "输入发货数量", class: 'form-control input-sm' %>
        </div>

        <%= button_tag(type: "submit", class: "btn btn-info btn-sm", id: "filter-button") do %>
            <i class="fa fa-search"></i> 查找
        <% end %>

        <%= link_to stock_dbs_path, class: "btn btn-sm btn-warning", id: "filter-link", method: :get do %>
            <i class="fa fa-refresh"></i> 重置
        <% end %>

    <% end %>
    </br>

    <text class="text-muted">显示纪录:
      <mark><%= @stock_dbs.length %></mark>
      条
    </text>

    <div class="pull-right">
      <%= will_paginate @stock_dbs, :param_name => 'page',
                        :previous_label => t("前一页"), :next_label => t("后一页"), :inner_window => 1 %>
    </div>
  </div>
  <div class="panel-body" style="min-height:750px">
    <table class="table table-responsive table-condensed table-hover" id="small-table">
      <thead>
      <tr>
        <th>分公司名称</th>
        <th>出库日期</th>
        <th>物料编码</th>
        <th>物料名称</th>
        <th>规格型号</th>
        <th>物资类别</th>
        <th>供应商</th>
        <th>发货数量</th>
        <th>项目编号</th>
      </tr>
      </thead>

      <tbody>

      <% @stock_dbs.each do |dbs| %>
          <tr>

            <td>
              <%= dbs.client_name %>
            </td>
            <td>
              <%= dbs.complete_time %>
            </td>
            <td>
              <%= dbs.product_code %>
            </td>
            <td>
              <%= dbs.product_name %>
            </td>
            <td>
              <%= dbs.standard %>
            </td>
            <td>
              <%= dbs.kind %>
            </td>
            <td>
              <%= dbs.supplier %>
            </td>
            <td>
              <%= dbs.export_num %>
            </td>
            <td>
              <%= dbs.project_code %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


