<div class="alert alert-success">
  <h4 class="text-muted">修改用户信息</h4>
  <br>

  <%= form_for @user, url: admin_update_user_path(@user), html: {class: 'form', role: 'form'} do |f| %>
      <%= render 'shared/error_messages', :object => @user %>

      <div class="row">
        <div class="form-group col-sm-5">
          <%= f.label "姓名", class: 'control-label' %>
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
            <%= f.text_field :name, class: 'form-control', placeholder: "输入真实姓名" %>
          </div>
        </div>

        <div class="form-group col-sm-5">
          <%= f.label "用户名", class: 'control-label' %>
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
            <%= f.email_field :email, class: 'form-control', placeholder: "输入有效的邮箱" %>
          </div>
        </div>


        <div class="form-group col-sm-5">
          <%= f.label "公司名", class: 'control-label' %>
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
            <%= f.text_field :company, class: 'form-control', placeholder: "输入公司全称" %>
          </div>
        </div>

        <div class="form-group col-sm-5">
          <%= f.label "角色", class: 'control-label' %>
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-eye-open"></span></div>
            <% if @user.admin %>
                <%= f.select :admin, options_for_select(['管理员', '普通']), {}, class: 'form-control' %>
            <% else %>
                <%= f.select :admin, options_for_select(['普通', '管理员']), {}, class: 'form-control' %>
            <% end %>

          </div>
        </div>

        <div class="form-group col-sm-5">
          <%= f.label "密码", class: 'control-label' %>
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
            <%= f.password_field :password, class: 'form-control', placeholder: "输入密码" %>
          </div>
        </div>

        <div class="form-group col-sm-5">
          <%= f.label "确认密码", class: 'control-label' %>
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "再次输入密码" %>
          </div>
        </div>

        <div class="col-sm-12">
          <%= f.submit '保存修改', class: "btn btn-success" %>
        </div>
      </div>

  <% end %>
</div>