<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-user">
                    </span> 用户管理</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse <%= "in" if params[:controller]=="users" %>">
      <ul class="list-group">

        <li class="list-group-item">
          <%= link_to users_path(new: true) do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 新增用户
              <span class="label label-info pull-right"><%= @new_users.count %></span>
          <% end %>
        </li>

        <li class="list-group-item">
          <%= link_to users_path(new: false) do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 已有用户
              <span class="label label-info pull-right"><%= @users.count %></span>
          <% end %>
        </li>

      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-folder-close">
                    </span> 信息管理</a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse <%= "in" if params[:controller]!="users" %>">
      <div class="list-group">

        <li class="list-group-item">
          <%= link_to project_excels_path do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 立项数据管理
          <% end %>
        </li>

        <li class="list-group-item">
          <%= link_to supplier_excels_path do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 供应商数据管理
          <% end %>
        </li>

        <li class="list-group-item">
          <%= link_to repertory_excels_path do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 库存数据管理
          <% end %>
        </li>

        <li class="list-group-item">
          <%= link_to stock_excels_path do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 出入库数据管理
          <% end %>
        </li>

      </div>
    </div>
  </div>

</div>