<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-user">
                    </span> 用户管理</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse <%= "in" if params[:controller]=="users" %>">
      <ul class="list-group">

        <li class="list-group-item">
          <%= link_to users_path do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 用户列表
              <span class="label label-info pull-right"><%= User.none_hidden_users.length %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-folder-close">
                    </span> 数据管理</a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse <%= "in" if ["stock_excels", "project_excels", "repertory_excels", "supplier_excels"].include?(params[:controller]) %>">
      <div class="list-group">

        <li class="list-group-item">
          <%= link_to project_excels_path do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 立项数据管理
          <% end %>
        </li>

        <li class="list-group-item">
          <%= link_to supplier_excels_path do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 供应商数据管理
          <% end %>
        </li>

        <li class="list-group-item">
          <%= link_to repertory_excels_path do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 库存数据管理
          <% end %>
        </li>

        <li class="list-group-item">
          <%= link_to stock_excels_path do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 出库数据管理
          <% end %>
        </li>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-list">
                    </span> 授权码管理</a>
      </h4>
    </div>

    <div id="collapseTwo" class="panel-collapse collapse <%= "in" if ["mapping_excels", "mapping_dbs"].include?(params[:controller]) %> %>">

      <div class="list-group">
        <li class="list-group-item">
          <%= link_to mapping_excels_path do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 映射文件管理
          <% end %>
        </li>

        <li class="list-group-item">
          <%= link_to mapping_dbs_path  do %>
              <span class="glyphicon glyphicon-chevron-right"></span> 授权码列表
          <% end %>
        </li>

      </div>
    </div>
  </div>
</div>