<% if request.xhr? %>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong> <%= message %></strong>
        </div>
    <% end %>
<% end %>

<div id="content">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-cubes fa-fw"></i> 安全阈值详细列表

      <div class="pull-right">
        <%= link_to match_page_warning_dbs_path(page: params[:page]), remote: true, class: "btn btn-success btn-xs", method: :get, data: {toggle: "tooltip"}, title: "将匹配只显示在此页的数据" do %>
            <span class="glyphicon glyphicon-cloud"></span> 匹配此页数据
        <% end %>
        <%= link_to match_warning_dbs_path, remote: true, class: "btn btn-danger btn-xs", method: :get, data: {toggle: "tooltip"}, title: "数据量大会造成服务器崩溃" do %>
            <span class="glyphicon glyphicon-cloud"></span> 匹配所有数据
        <% end %>
      </div>
    </div>

    <div class="filter-panel">
      <br>
      <text class="text-muted">总数据
        <mark><%= @warning_dbs.count %></mark>
        条,当前页显示:
        <mark><%= @warning_dbs.length %></mark>
        条
      </text>

      <div class="pull-right">
        <%= will_paginate @warning_dbs, :param_name => 'page',
                          :previous_label => t("前一页"), :next_label => t("后一页"), :inner_window => 1 %>
      </div>
    </div>

    <div class="panel-body" style="min-height:750px">
      <table class="table table-responsive table-condensed table-hover" id="small-table">
        <thead>
        <tr>
          <th>ID</th>
          <th>供应商</th>
          <th>物料代码</th>
          <th>产品名称</th>
          <th class="col-sm-2">规格</th>
          <th>安全库存值</th>
          <th>常用库存值</th>
        </tr>
        </thead>

        <tbody>

        <% count=0 %>
        <% @warning_dbs.each do |warning_db| %>
            <% count= count+1 %>
            <tr>
              <td>
                <% if params[:page].nil? %>
                    <%= count %>
                <% else %>
                    <%= count+(params[:page].to_i-1)*20 %>
                <% end %>
              </td>
              <td>
                <%= warning_db.supplier %>
              </td>
              <td>
                <%= warning_db.product_code %>
              </td>
              <td>
                <%= warning_db.product_name %>
              </td>
              <td>
                <%= warning_db.standard %>
              </td>
              <td>
                <%= warning_db.safe_num %>
              </td>
              <td>
                <%= warning_db.common_num %>
              </td>
              <td>
                <% if warning_db.match %>
                    已匹配
                <% else %>
                    未匹配
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<%= render "shared/spanner" %>
