<div class="row">
  <div class="col-md-12">

    <p>
      <strong>
        <h3><%= event.title %></h3>
        <text class="text-success"> <%= normalize_time(event) %></text>
        <br/>
        <% if event.end_time %>
            <text class="text-danger"> And already ended in <%= event.end_time.to_time.iso8601 %></text>
        <% end %>
      </strong>
    </p>

    <div class="well">
        <% unless event.venue.blank? %>
            <p>
              <a href='<%= event.venue.new_record? ? "#" : venue_url(event.venue) %>'>
                <span><%= event.venue.title -%></span>
              </a>
            </p>
            <% if event.venue.closed? %>
                <p>This venue is no longer open for business.</p>
            <% end %>

            <div>
              <% if !event.venue.street_address.blank? -%>
                  <div><%= event.venue.street_address -%></div>
              <% end %>
              <% if !event.venue.locality.blank? -%>
                  <span><%= event.venue.locality -%></span><%= "," if event.venue.region.present? or event.venue.postal_code.present? or event.venue.country.present? %>
              <% end -%>
              <% if !event.venue.region.blank? -%>
                  <span><%= event.venue.region -%></span><%= "," if event.venue.country.present? and not event.venue.postal_code.present? %>
              <% end -%>
              <% if !event.venue.postal_code.blank? -%>
                  <span><%= event.venue.postal_code -%></span><%= "," if event.venue.country.present? %>
              <% end -%>
              <% if !event.venue.country.blank? -%>
                  <span><%= event.venue.country -%></span>
              <% end -%>
              <% if event.venue && event.venue.full_address.present? -%>
                  (<a href='<%= google_maps_url(event.venue.full_address) -%>'>map</a>)
              <% end -%>

              <% if event.venue.wifi? -%>
                  <p>Public WiFi</p>
              <% end -%>

              <% if event.venue.access_notes.present? -%>
                  <p>
                  <h4>Access Notes</h4>
                  <%= format_description(event.venue.access_notes) %>
                  </p>
              <% end -%>

              <% unless event.venue_details.blank? -%>
                  <p>
                  <h4> Venues Details</h4>
                  <%= format_description(event.venue_details) %>
                  </p>
              <% end -%>

        <% end -%>
      </div>
    </div>


    <% unless event.url.blank? -%>
        <p>
        <h4>Website</h4>
        <%= link_to "#{truncate(event.url, :length => 128)}", h(event.url), :itemprop => "url" %>
        </p>
    <% end -%>

    <% unless event.description.blank? -%>
        <p>
        <h4>Description</h4>
        <%= format_description(event.description) %>
        </p>
    <% end -%>

    <% if event.persisted? %>

        <p>
        <h4>Share</h4>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= shareable_event_url(event) %>" data-text="<%= tweet_text(event) %>" data-related="webportals" data-dnt="true">Tweet</a>

        <script>!function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, "script", "twitter-wjs");
        </script>
        </p>

    <% end %>


    <% unless event.tags.blank? -%>
        <p>
        <h3>Tags</h3>
        <%= tag_links_for event %>
        </p>
    <% end %>


  </div>
</div>