<!-- @search-->
<!--=> #<struct Calagator::Event::Search query="da", tag=nil, order="date", current=nil>-->
<div class="container">
  <br/>
  <div class="row">
    <div class="col-sm-8">

      <%= render partial: 'search_section', locals: {search: @search, section: :current} %>
      <%= render partial: 'search_section', locals: {search: @search, section: :past} unless @search.current %>

      <!--@search.query-->
      <!--=> "da"-->

      <!-- @search.tag-->
      <!--=> nil-->

    </div>

    <div class="col-sm-2 pull-right">
      <div class="well">
        <h4>Subscribe to</h4>

        <li><%= link_to "iCalendar feed", icalendar_feed_link(query: @search.query, tag: @search.tag) %></li>
        <li><%= link_to "Atom feed", atom_feed_link(query: @search.query, tag: @search.tag) %></li>
        <li><%= link_to "Google Calendar", google_events_subscription_link(query: @search.query, tag: @search.tag) %></li>

        <h4>Export to</h4>

        <li><%= link_to "iCalendar file", icalendar_export_link(query: @search.query, tag: @search.tag) %></li>

      </div>
    </div>
  </div>
</div>