<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-database fa-fw"></i> 立项数据
    <div class="pull-right">
      <%= form_tag export_project_dbs_path, :method => :get do %>
          <%= hidden_field_tag :company, params[:company] %>
          <%= hidden_field_tag :build_way, params[:build_way] %>
          <%= hidden_field_tag :project_name, params[:project_name] %>
          <%= hidden_field_tag :approve_time, params[:approve_time] %>
          <%= button_tag(type: "submit", class: "btn btn-success btn-xs") do %>
              <span class="glyphicon glyphicon-floppy-save"></span> 导出
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="filter-panel">
    <%= form_tag project_dbs_path, :method => 'get', remote: true, role: 'form', class: "form-inline" do %>
        <div class="form-group">
          <%= label_tag :company, "公司名:" %>
          <%= text_field_tag :company, params[:company], placeholder: "公司名", class: 'form-control input-sm' %>
        </div>

        <div class="form-group">
          <%= label_tag :build_way, "建造方式:" %>
          <%= text_field_tag :build_way, params[:build_way], placeholder: "建造方式", class: 'form-control input-sm' %>
        </div>

        <div class="form-group">
          <%= label_tag :project_name, "项目名字:" %>
          <%= text_field_tag :project_name, params[:project_name], placeholder: "项目名字", class: 'form-control input-sm' %>
        </div>

        <div class="form-group">
          <%= label_tag :approve_time, "审批时间:" %>
          <%= text_field_tag :approve_time, params[:approve_time], placeholder: "审批时间", class: 'form-control input-sm' %>
        </div>

        <%= button_tag(type: "submit", class: "btn btn-info btn-sm", id: "filter-button") do %>
            <i class="fa fa-search"></i>查找
        <% end %>

        <%= link_to project_dbs_path, class: "btn btn-sm btn-warning", id: "filter-link", remote: true do %>
            <i class="fa fa-refresh"></i> 重置
        <% end %>

    <% end %>

    <br>

    <text class="text-muted">总数据
      <mark><%= @project_dbs.count %></mark>
      条,当前页显示:
      <mark><%= @project_dbs.length %></mark>
      条
    </text>

    <div class="pull-right">
      <%= will_paginate @project_dbs, :param_name => 'page',
                        :previous_label => t("前一页"), :next_label => t("后一页"), :inner_window => 1 %>
    </div>

  </div>

  <div class="panel-body" style="min-height:600px">
    <table class="table table-responsive table-condensed table-hover" id="small-table">
      <thead>
      <tr class="filters">
        <th>ID</th>
        <th>企业</th>
        <th>建造方式</th>
        <th>项目名字</th>
        <th>审批时间</th>
      </tr>
      </thead>

      <tbody>

      <% count=0 %>
      <% @project_dbs.each do |dbs| %>
          <% count= count+1 %>
          <tr>
            <td>
              <% if params[:page].nil? %>
                  <%= count %>
              <% else %>
                  <%= count+(params[:page].to_i-1)*20 %>
              <% end %>
            </td>
            <td>
              <text><%= dbs.company %></text>
            </td>
            <td>
              <text><%= dbs.build_way %></text>
            </td>
            <td>
              <text><%= dbs.project_name %></text>
            </td>
            <td>
              <text><%= dbs.approve_time %></text>
            </td>

          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>





