<div class="container">
  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">
        <h3 class="panel-title">库存明细</h3>
        <div class="pull-right">

          <div class="row">
            <div class="col-sm-5">
              <%= form_tag export_repertory_dbs_path, :method => :get do %>
                  <%= hidden_field_tag :name, params[:name] %>
                  <%= hidden_field_tag :supplier, params[:supplier] %>
                  <%= hidden_field_tag :standard, params[:standard] %>
                  <%= hidden_field_tag :product_code, params[:product_code] %>
                  <%= hidden_field_tag :product_kind, params[:product_kind] %>
                  <%= button_tag(type: "submit", class: "btn btn-default btn-xs") do %>
                      <span class="glyphicon glyphicon-floppy-save"></span> 导出
                  <% end %>
              <% end %>
            </div>
            <div class="col-sm-5">
              <button id="filter" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-filter"></span>
                筛选
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body" style="min-height:750px">

        <table class="table table-responsive table-condensed table-hover">
          <thead>
          <tr class="filters">
            <th><input type="text" class="form-control" placeholder="产品名" disabled></th>
            <th><input type="text" class="form-control" placeholder="规格" disabled></th>
            <th><input type="text" class="form-control" placeholder="物料编码" disabled></th>
            <th><input type="text" class="form-control" placeholder="物资类别" disabled></th>
            <th><input type="text" class="form-control" placeholder="供应商" disabled></th>
            <th><input type="text" class="form-control" placeholder="库存数量" disabled></th>

          </tr>
          </thead>

          <tbody>

          <% @repertory_dbs.each do |db| %>
              <tr>
                <td>
                  <text style="font-size: small"><%= db.name %></text>
                </td>
                <td>
                  <text style="font-size: small"><%= db.standard %></text>
                </td>
                <td>
                  <text style="font-size: small"><%= db.product_code %></text>
                </td>
                <td>
                  <text style="font-size: small"><%= db.product_kind %></text>
                </td>
                <td>
                  <text style="font-size: small"><%= db.supplier %></text>
                </td>
                <td>
                  <text style="font-size: small"><%= db.num %></text>
                </td>
              </tr>
          <% end %>

          </tbody>
        </table>

        <%= will_paginate @repertory_dbs, :param_name => 'page',
                          :previous_label => t("前一页"), :next_label => t("后一页"), :inner_window => 1 %>

      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="filter_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div id="filter-header">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-filter"></span> 筛选</h4>
        </div>
      </div>
      <div class="modal-body" style="padding:30px 50px;">

        <%= form_tag repertory_dbs_path, :method => 'get', role: 'form', class: "form-horizontal" do %>
            <div class="form-group">
              <%= label_tag :name, "产品", class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= text_field_tag :name, params[:name], placeholder: "产品", class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :standard, "规格", class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= text_field_tag :standard, params[:standard], placeholder: "规格", class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :supplier, "供应商", class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= text_field_tag :supplier, params[:supplier], placeholder: "供应商", class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :product_code, "物料编码", class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= text_field_tag :product_code, params[:product_code], placeholder: "物料编码", class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :product_kind, "物资类别", class: "control-label col-sm-2" %>
              <div class="col-sm-10">
                <%= text_field_tag :product_kind, params[:product_kind], placeholder: "物资类别", class: 'form-control' %>
              </div>
            </div>

            <div class="modal-footer">
              <%= button_tag(type: "submit", class: "btn btn-default btn-block") do %>
                  <span class="glyphicon glyphicon-search"></span>查找
              <% end %>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#filter").click(function () {
      $("#filter_modal").modal();
    });
  });
</script>