<div class="container">
  <div class=" col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <text class="lead">遴选信息</text>
        <%= button_to '详细', supplier_dbs_path, :method => :get, class: 'btn-sm btn-success pull-right' %>
        <% if admin?(current_user) %>
            <%= button_to '管理', supplier_excels_path, :method => :get, class: 'btn-sm btn-info pull-right' %>
        <% end %>

      </div>
      <div class="panel-body" style="min-height:320px;max-height: 320px;overflow: scroll; padding-top: 5px ;">
        <%= render "supplier_table", :supplier_dbs => @supplier_dbs, :supplier_labels => @supplier_labels %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <text class="lead">新增立项数据</text>
        <%= button_to '详细', project_dbs_path, :method => :get, class: 'btn-sm btn-success pull-right' %>
        <% if admin?(current_user) %>
            <%= button_to '管理', project_excels_path, :method => :get, class: 'btn-sm btn-info pull-right' %>
        <% end %>
      </div>
      <div class="panel-body" style="min-height:320px;max-height: 320px;overflow-y: scroll;">
        <%= render "project_table", :project_dbs => @project_dbs %>
      </div>
    </div>
  </div>


  <% if current_visit || current_user %>
      <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <text class="lead">库存展示</text>
            <%= button_to '详细', repertory_dbs_path, :method => :get, class: 'btn-sm btn-success pull-right' %>
            <% if admin?(current_user) %>
                <%= button_to '管理', repertory_excels_path, :method => :get, class: 'btn-sm btn-info pull-right' %>
            <% end %>
          </div>
          <div class="panel-body" style="min-height:500px;max-height: 500px;overflow: scroll;">
            <%= render "repertory_table", :repertory_dbs => @repertory_dbs %>
          </div>
        </div>
      </div>
  <% end %>


</div>
