
<%= form_tag  movie_path(@movie), :method=> :patch do %>
<h2>Editing movie : <%=@movie.title%></h2>
  
  <%= render :partial=> 'movies_form'%>
  <p>
    <%= submit_tag 'Save Changes' %>
  </p>
<% end %>
 
<%= link_to 'Cancel', movie_path(@movie) %>


