<h1 class='title'> All Movies </h1>

<table class= 'table table-striped table-bordered table-hover' id='movies'>
	<tr>
		<th> Movie Id </th>
		<th> Movie Title </th>
		<th> Rating </th>
   	 	<th> Release Date</th>
       	<th> More Info</th>
	   	<th> Operation</th>
	</tr>

	<% @movies.each_with_index  do |movie,index| %> 
  <!-- <tr class='<%='adult' unless movie.rating =~ /^G|PG$/%>'> -->
	<tr>
	  	<td><%= index %></td>
	    <td><%= movie.title %></td> 
	    <td><%= movie.rating %></td> 
	    <td><%= movie.release_date.strftime("%B %d, %Y") %></td> 
		<td><%= link_to "More about #{movie.title}", movie_path(movie),:data => 			{:toggle=>"modal",:target=>"#myModal",:remote=>"false"} %></td>
	  	<td><%= link_to 'Destroy',movie_path(movie),
		  	:method=>:delete,:data=>{confirm:'Are you sure?'}%></td>
  </tr>
  <% end %>
 </table>
 
 <p>
	 <%= link_to 'Add new movie',new_movie_path%>	
 </p>
 
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Movie Details</h4>
       </div>
       <div class="modal-body">

       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <a type="button" class="btn btn-primary" id= "nextStep">Show Movie Details </a>
       </div>
     </div>
   </div>
 </div>
