<div class="panel panel-default">
  <div class="panel-heading">
    授权码管理
    <div class="pull-right">
      <%= form_tag export_mapping_dbs_path, :method => :get do %>
          <%= hidden_field_tag :query, params[:query] %>
          <%= button_tag(type: "submit", class: "btn btn-success btn-xs") do %>
              <span class="glyphicon glyphicon-floppy-save"></span> 导出
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="panel-body" style="min-height: 600px">

    <div class="filter-panel">
      <%= form_tag mapping_dbs_path, :method => 'get', role: 'form', class: "form-inline" do %>

          <div class="form-group">
            <%= text_field_tag :query, params[:query], placeholder: "搜索供应商/授权码", class: 'form-control input-sm' %>
          </div>

          <%= button_tag(type: "submit", class: "btn btn-info btn-sm", id: "filter-button") do %>
              <span class="glyphicon glyphicon-search"></span>查找
          <% end %>

      <% end %>
      </br>

      <text class="text-muted">显示纪录:
        <mark><%= @mapping_dbs.length %></mark>
        条
      </text>

      <% unless params[:query].blank? %>
          <text class="text-danger">搜索结果显示:
            <mark><%= params[:query] %></mark>
          </text>
      <% end %>

      <div class="pull-right">
        <%= will_paginate @mapping_dbs, :param_name => 'mapping_page',
                          :previous_label => t("前一页"), :next_label => t("后一页"), :inner_window => 1 %>
      </div>
    </div>

    <table class="table table-responsive table-condensed table-hover">
      <thead>
      <tr>
        <th>供应商</th>
        <th>映射名称</th>
        <th>授权码</th>
      </tr>
      </thead>

      <tbody>
      <% @mapping_dbs.each do |dbs| %>
          <tr>
            <td>
              <%= dbs.supplier1 %>
            </td>
            <td>
              <%= dbs.supplier2 %>
            </td>
            <td>
              <%= dbs.auth_token %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>

</div>

<script>
  $(function () {
    $('.form-inline div').each(function () {
      $(this).css({'margin-top': '10px', 'margin-right': '10px'});
    });

    $('#filter-button').css({'margin-top': '10px', 'margin-right': '10px'});

    $('.filter-panel').css({'margin-left': '10px', 'margin-right': '10px'});

    $('.table tbody td').css({});
  });
</script>


<%#= form_tag mapping_dbs_path, method: 'get', class: "col-sm-3", role: "search" do %>
<!--<div class="input-group">-->
<!--<%#= text_field_tag 'query', params[:query], class: "form-control input-sm", placeholder: "搜索供应商/授权码" %>-->
<!--<div class="input-group-btn">-->
<!--<button class="btn btn-default btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i></button>-->
<!--</div>-->
<!--</div>-->
<%# end %>