<!-- Modal -->
<div class="modal fade" id="panel_modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> 登录</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">

        <%= form_for(:session, url: sessions_login_path, method: :post, html: {role: 'form'}) do |f| %>

            <div class="form-group">
              <%= f.label :email do %>
                  <span class="glyphicon glyphicon-user"></span>登录名
              <% end %>
              <%= f.email_field :email, class: 'form-control', placeholder: "输入邮箱" %>
            </div>

            <div class="form-group">
              <%= f.label :password do %>
                  <span class="glyphicon glyphicon-eye-open"></span>密码
              <% end %>
              <%= f.password_field :password, class: 'form-control', placeholder: "密码" %>
            </div>

            <div class="checkbox">
              <label><%= f.check_box :remember_me %>记住我</label>
            </div>

            <%= button_tag(type: "submit", class: "btn btn-success btn-block") do %>
                <span class="glyphicon glyphicon-off"></span>登陆
            <% end %>

        <% end %>

      </div>
      <div class="modal-footer">
        <p>没有账号?
          <%= link_to "注册", new_user_path %>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#login_panel").click(function () {
      $("#panel_modal").modal();
    });
  });
</script>

